.construction
  width: 10px
  height: 10px
  margin: -5px 0 0 -5px
  display: block
  z-index: 1
  position: absolute
  left: 0
  top: 0
  text-align: center
  cursor: pointer
  border-radius: 50%
  border: 1px solid #fff
  transform-origin: center center

  .construction-type
    margin-left: 10px
    display: block
    color: #fff
    font-size: 9px
    line-height: 9px
    white-space: nowrap
    text-shadow: #555 0 0 2px


  .construction-radar
    position: absolute
    left: 50%
    top: 50%

  .construction-radar-low
    width: 100px
    height: 100px
    display: block
    border-radius: 50%
    border: 1px solid #676767
    position: absolute
    transform-origin: center
    transform: translate(-50%,-50%)
    background-color: alpha(#898989, 0.2)

  .construction-radar-high
    width: 180px
    height: 180px
    display: block
    border-radius: 50%
    border: 1px solid #ffffff
    position: absolute
    transform-origin: center
    transform: translate(-50%,-50%)
    background-color: alpha(#c0c0c0, 0.2)
