.ship
  width: 6px
  height: 6px
  margin: -3px 0 0 -3px
  display: block
  position: absolute
  left: 0
  top: 0
  text-align: center
  cursor: pointer
  border-radius: 50%
  border: 1px solid #fff
  box-shadow: #333 0 0 2px
  background-color: pink
  transform-origin: center center

  &-sunk
    background-color: black

  &:hover
    background-color: #c05040



.ship-country-en
  background-color: green
.ship-country-de
  background-color: black
.ship-country-us
  background-color: steelblue
.ship-country-su
  background-color: red
