.convoy


  &-progress
  &-details
  &-log
    clearfix()
    margin: 0 0 20px 0
    padding: 20px
    position: relative
    background: alpha(#18354e, 0.92)

    &-title
      display: block
      margin: 0 0 10px 0
      color: $colors.white
      font-weight: bold
      text-align: left

    &-container
      padding: 10px 0
      display: block
      position: relative


  &-target
  &-eta
    width: 50%
    display: block
    float: left
    font-size: 12px

  &-eta
    text-align: right


.headline
  display: block
  margin-bottom: 10px
  font-size: 22px
  font-weight: bold
