

.country-info-list
  margin-left: 4px
  display: block
  font-size: 12px

  &-item
    padding: 0 6px
    float: left
    text-align: left
    line-height: 32px


.label
  display: inline-block

.value
  font-weight: bold

.value-up
  color: $colors.green

.value-down
  color: $colors.red
