.datetime
  width: 190px
  height: 32px
  padding: 0 6px
  display: inline-block
  vertical-align: top
  color: $colors.white
  font-size: 12px
  line-height: 32px
  text-align: right


.datetime-controls
  width: auto
  height: 32px
  display: inline-block

  span
    width: 24px
    height: 24px
    margin: 4px 0
    color: $colors.white
    font-size: 16px
    line-height: 22px
    text-align: center
    cursor: pointer
    display: inline-block
    vertical-align: middle
    background: #666
    border: 1px solid #333

    &:hover
      background: #909090
