.flag
  background-repeat: no-repeat
  background-size: 100%

  &-large
    width: 50px
    height: 32px
    display: block


  &-de
  &-ger
    background-image: url("../img/countries/de.png")


  &-jp
  &-japan
    background-image: url(../img/flags/jp.svg)

  &-us
  &-usa
    background-image: url(../img/flags/us.svg)
