.header
  width: 100%
  height: 32px
  display: block

  z-index: 10
  overflow: hidden
  position: absolute
  left: 0
  top: 0

  color: $colors.white

  background-color: alpha(#333, 0.8)
  border-bottom: 1px solid $colors.black
