.infobox
  @extends $textStyle
  width: 50%
  margin: 0
  margin-left: -25%
  z-index: 10
  position: absolute
  top: 96px
  left: 50%


  &-content
    margin: 0 100px 0 40px
    padding: 8px 16px
    //border-top: 1px solid alpha($colors.black, 0.8)
    //border-bottom: 1px solid alpha($colors.black, 0.8)
    background-color: alpha($colors.black, 0.5)

    &:before
    &:after
      width: 40px
      height: 100%
      display: block
      content: ''
      position: absolute
      top: 0

    &:before
      left: 0
      background: linear-gradient(left, alpha($colors.black, 0.0), alpha($colors.black, 0.5))

    &:after
      width: 100px
      right: 0
      background: linear-gradient(left, alpha($colors.black, 0.5), alpha($colors.black, 0.0))




  &-icon
    display: inline-block

  &-title
    margin-right: 20px
    display: inline-block
    font-weight: bold
    color: $colors.white

  &-text
    display: inline-block
    color: $colors.white
