.summary
  width: 20%
  margin: 0
  padding: 20px
  display: block
  z-index: 10
  position: absolute
  top: 32px
  right: 0
  color: $colors.white
  background-color: alpha(#333, 0.8)
  border-left: 1px solid darken($colors.white, 15%)
  border-bottom: 1px solid darken($colors.white, 15%)
  box-shadow: alpha($colors.black, 0.5) 0 0 4px

  &-title
    margin: 0 0 10px 0
    display: block

  &-section-title
    margin: 10px 0
    display: block
