@import 'nib'

global-reset()


@require '../assets/css/normalize.css'
@require '../assets/css/font-awesome/font-awesome.css'

@require '../assets/fonts/fonts.css'


// global styles

@require 'framework/_grid'
@require 'framework/_mixins'
@require 'framework/reset'


// global app styling

@require 'app/_settings'
@require 'app/_global'
@require 'app/_animation'

//@require 'app/_header'
//@require 'app/_main'
//@require 'app/_footer'



// app specific components
//@require 'app/components/_menu'
//@require 'app/components/_box'
@require 'app/components/_button'
//@require 'app/components/_list'
//@require 'app/components/_list-levels'
//@require 'app/components/_section'
//@require 'app/components/_socials'
@require 'app/components/_worldmap'


// the views of the game
// @require 'app/views/_gameover'
// @require 'app/_level'
// @require 'app/_levelloader'

// content styles
//@require 'app/components/content/'


//@require 'app/components/form/_index'


//@require 'app/components/label'
@require 'app/_tooltip'


@require 'app/components/_scenario-list'

@require 'app/game/_construction.styl'
@require 'app/game/_fleet.styl'
@require 'app/game/_place.styl'
@require 'app/game/_ship.styl'
@require 'app/game/_map.styl'


@require 'app/components/content/_index.styl'



@require 'app/game/mixins/_index.styl'


@require 'app/game/interface/_datetime.styl'
@require 'app/game/interface/_detail.styl'
@require 'app/game/interface/_combat.styl'
@require 'app/game/interface/_convoy.styl'
@require 'app/game/interface/_country-info-list.styl'
@require 'app/game/interface/_cursors.styl'
@require 'app/game/interface/_event.styl'
@require 'app/game/interface/_flag.styl'
@require 'app/game/interface/_gamelog.styl'
@require 'app/game/interface/_header.styl'
@require 'app/game/interface/_infobox.styl'
@require 'app/game/interface/_menu.styl'
@require 'app/game/interface/_menu-research.styl'
@require 'app/game/interface/_modal.styl'
@require 'app/game/interface/_production.styl'
@require 'app/game/interface/_production-list.styl'
@require 'app/game/interface/_research-years-list.styl'
@require 'app/game/interface/_summary.styl'
@require 'app/game/interface/_tabs.styl'
@require 'app/game/interface/_technology.styl'
@require 'app/game/interface/_unit-detail.styl'
@require 'app/game/interface/_unit-list.styl'
@require 'app/game/interface/_victory-progress.styl'



@require 'app/game/interface/components/_expandable.styl'
@require 'app/game/interface/components/_panel.styl'
@require 'app/game/interface/components/_progress.styl'
