.panel

  width: 128px
  margin: 0 10px 10px 0
  padding: 10px
  display: block
  float: left

  color: #000
  font-size: 12px
  cursor: pointer

  position: relative

  border: 1px solid #000000
  background-color: #f0f0f0


  &-large
    width: 196px


  &-add
    margin: 10px
    font-size: 32px
    line-height: 32px
    position: absolute
    right: 0
    top: 0

    &:before
      border-left: 1px solid #000
