
.footer

	padding: 25px 0
	text-align: center
	border-top: 1px solid $colors.lightGrey
	background-color: $colors.black


	.footer-primary
		padding: 50px 0 0 0


	.footer-copyright
		width: 480px
		max-width: 100%
		margin: 0 auto
		padding: 35px 0 0 0
		color: $colors.lightGrey
		font-size: 12px
		background-color: $colors.black
