
.header

	//padding: 25px 2% 15px 2%
	//border-bottom: 1px solid $colors.lightGrey


	.logo
		font-size: 36px
		font-family: 'Passion One'
		font-weight: 900
		letter-spacing: 2px
		line-height: 42px
		text-transform: uppercase

		&:hover
			color: $colors.red
			text-decoration: none


	.txt-large
		font-size: 50px
